<article class="col-md-12 background">
    <!-- BLOG CARDS -->
    <div class="center">
        <h2>I do a bit of everything</h2>
        <hr>  
        <p class="paragraph">
            But visual storytelling is the cream cheese to my bagel. I’m a designer, a presentation wizard, a storyteller, an illustrator, a photographer, a motion designer, a teacher, and a lifetime student. I’m an optimist. I’m a feminist. I’m an environmentalist. I’m years of experiences. And I will be more things yet to come.  
        </p>
    </div>
        
    <h2>Projects</h2>
    <hr style="max-width: 750px;">  
    <div class="cards-1 section-gray">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="card card-blog">
                        <div class="card-image">
                            <a href="#"> <img class="img" src="http://adamthemes.com/demo/code/cards/images/blog01.jpeg">
                                <div class="card-caption"> Quisque a bibendum magna </div>
                            </a>
                            <div class="ripple-cont"></div>
                        </div>
                        <div class="table">
                            <h6 class="category text-info">Cinema</h6>
                            <p class="card-description"> Lorem ipsum dolor sit amet, consectetur adipis cingelit. Etiam lacinia elit et placerat finibus. Praesent justo metus, pharetra vel nibh sit amet, tincidunt posuere nulla. Vivamus odio antement, feugiat eget nisi sit amet, scelerisque dignissim velit antement. </p>
                        </div>
                    </div>
                    <div class="card">
                        <div class="table table-info">
                            <h5 class="category-social">
                                        <i class="fa fa-twitter"></i> Twitter
                                    </h5>
                            <h4 class="card-caption">
                                        <a href="#">"Vivamus odio ante, feugiat eget nisi sit amet, dignissim velit. Sus pendisse ultricies varius."</a>
                                    </h4>
                            <div class="ftr">
                                <div class="author">
                                    <a href="#"> <img src="http://adamthemes.com/demo/code/cards/images/avatar3.png" alt="" class="avatar img-raised"> <span>Debbon Amet</span> </a>
                                </div>
                                <div class="stats"> <i class="fa fa-heart"></i> 365 &nbsp; <i class="fa fa-share-alt"></i> 120 </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card">
                        <div class="table">
                            <h6 class="category text-danger">
                                        <i class="fa fa-globe "></i> World
                                    </h6>
                            <h4 class="card-caption">
                                        <a href="#">Vivamus odio ante, feugiat eget nisi sit amet, dignissim velit.</a>
                                    </h4>
                            <div class="ftr">
                                <div class="author">
                                    <a href="#"> <img src="http://adamthemes.com/demo/code/cards/images/avatar3.png" alt="" class="avatar img-raised"> <span>Patrick Wood</span>
                                        <div class="ripple-cont">
                                            <div class="ripple ripple-on ripple-out" style="left: 574px; top: 364px; background-color: rgb(60, 72, 88); transform: scale(11.875);"></div>
                                        </div>
                                    </a>
                                </div>
                                <div class="stats"> <i class="fa fa-heart"></i> 342 &nbsp; <i class="fa fa-comment"></i> 45 </div>
                            </div>
                        </div>
                    </div>
                    <div class="card card-blog">
                        <div class="card-image">
                            <a href="#"> <img class="img" src="http://adamthemes.com/demo/code/cards/images/blog01.jpeg"> </a>
                            <div class="ripple-cont"></div>
                        </div>
                        <div class="table">
                            <h6 class="category text-success"><i class="fa fa-university"></i> Law</h6>
                            <h4 class="card-caption">
                        <a href="#">Vivamus odio ante, feugiat eget nisi sit amet, dignissim velit</a>
                        </h4>
                            <p class="card-description"> Lorem ipsum dolor sit amet, consectetur adipis cingelit. Etiam lacinia elit et placerat finibus.</p>
                            <div class="ftr">
                                <div class="author">
                                    <a href="#"> <img src="http://adamthemes.com/demo/code/cards/images/avatar3.png" alt="..." class="avatar img-raised"> <span>Mary Dunst</span> </a>
                                </div>
                                <div class="stats"> <i class="fa fa-clock-o"></i> 10 min </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card card-blog">
                        <div class="card-image">
                            <a href="#"> <img class="img" src="http://adamthemes.com/demo/code/cards/images/blog01.jpeg"> </a>
                            <div class="ripple-cont"></div>
                        </div>
                        <div class="table">
                            <h6 class="category text-warning">
                                        <i class="fa fa-soundcloud"></i> Music
                                    </h6>
                            <h4 class="card-caption">
                            <a href="#">Vivamus odio ante, feugiat eget nisi sit amet, dignissim velit</a>
                        </h4>
                            <div class="ftr">
                                <div class="author">
                                    <a href="#"> <img src="http://adamthemes.com/demo/code/cards/images/avatar3.png" alt="..." class="avatar img-raised"> <span>Debbon Amet</span> </a>
                                </div>
                                <div class="stats"> <i class="fa fa-clock-o"></i> 15 min </div>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="table table-danger">
                            <h5 class="category-social">
                                        <i class="fa fa-newspaper-o"></i> News
                                    </h5>
                            <h4 class="card-caption">
                                        <a href="#">"Consectetur odio feugiat"</a>
                                    </h4>
                            <p class="card-description"> Lorem ipsum dolor sit amet, consectetur adipis cingelit. Etiam lacinia elit et placerat finibus.</p>
                            <div class="ftr text-center"> <a href="#" class="btn btn-white btn-round">Read More</a> </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- PLAIN CARDS -->
    <div class="cards-2 section-gray">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="card card-blog">
                        <div class="card-image">
                            <a href="#"> <img class="img img-raised" src="http://adamthemes.com/demo/code/cards/images/blog01.jpeg"> </a>
                            <div class="ripple-cont"></div>
                        </div>
                        <div class="table">
                            <h6 class="category text-info">Pharetra</h6>
                            <h4 class="card-caption">
                                    <a href="#">Quisque id elit maximus, pretium diam at mollis elit</a>
                                </h4>
                            <p class="card-description"> Lorem ipsum dolor sit amet, consectetur adipis cingelit. Etiam lacinia elit et placerat finibus. Praesent justo metus, pharetra vel nibh sit amet, tincidunt posuere nulla. </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card card-blog">
                        <div class="card-image">
                            <a href="#"> <img class="img img-raised" src="http://adamthemes.com/demo/code/cards/images/blog01.jpeg"> </a>
                        </div>
                        <div class="table">
                            <h6 class="category text-danger">Lacinia</h6>
                            <h4 class="card-caption">
                                    <a href="#">Quisque id elit maximus, pretium diam at mollis elit</a>
                                </h4>
                            <p class="card-description"> Lorem ipsum dolor sit amet, consectetur adipis cingelit. Etiam lacinia elit et placerat finibus. Praesent justo metus, pharetra vel nibh sit amet, tincidunt posuere nulla. </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card card-blog">
                        <div class="card-image">
                            <a href="#"> <img class="img img-raised" src="https://www.imageupload.co.uk/images/2018/10/15/blog02.jpg"> </a>
                        </div>
                        <div class="table">
                            <h6 class="category text-success">Consectetur</h6>
                            <h4 class="card-caption">
                                    <a href="#">Quisque id elit maximus, pretium diam at mollis elit</a>
                                </h4>
                            <p class="card-description"> Lorem ipsum dolor sit amet, consectetur adipis cingelit. Etiam lacinia elit et placerat finibus. Praesent justo metus, pharetra vel nibh sit amet, tincidunt posuere nulla. </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- TESTIMONIAL CARDS -->
    <h3>Art pieces</h3>
    <hr style="max-width: 750px;">  
    <div class="cards-4 section-gray">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="card card-testimonial">
                        <div class="icon"> <i class="fa fa-quote-right"></i> </div>
                        <div class="table">
                            <h5 class="card-description">
                            "Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit. Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit!"
                        </h5> </div>
                        <div class="ftr">
                            <h4 class="card-caption">Debbon Amet</h4>
                            <h6 class="category">@debbonamet</h6>
                            <div class="card-avatar">
                                <a href="#"> <img class="img" src="http://adamthemes.com/demo/code/cards/images/avatar3.png"> </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card card-testimonial">
                        <div class="icon"> <i class="fa fa-quote-right"></i> </div>
                        <div class="table">
                            <h5 class="card-description">
                            "Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit. Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit!"
                        </h5> </div>
                        <div class="ftr">
                            <h4 class="card-caption">Mary Dunst</h4>
                            <h6 class="category">@marydunst</h6>
                            <div class="card-avatar">
                                <a href="#"> <img class="img" src="http://adamthemes.com/demo/code/cards/images/avatar3.png"> </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card card-testimonial">
                        <div class="icon"> <i class="fa fa-quote-right"></i> </div>
                        <div class="table">
                            <h5 class="card-description">
                            "Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit. Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit!"
                        </h5> </div>
                        <div class="ftr">
                            <h4 class="card-caption">Patrick Wood</h4>
                            <h6 class="category">@patrickwood</h6>
                            <div class="card-avatar">
                                <a href="#"> <img class="img" src="http://adamthemes.com/demo/code/cards/images/avatar3.png"> </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</article>